.App {
    display: flex;
}

.title{
    height: 4.5rem;
}

.hashtag {
    color: #b2aeae;
    margin-bottom: 3rem;
    position: absolute;
    top: 31.3rem;
    left: 34rem;
}
.titleName {
    color: #b2aeae;
    position: absolute;
    top: 31.2rem;
    left: 36rem;
    font-size: 13px;
    font-weight: 500;
}
.music{
    color: #858282;
    font-size: 16px;
    position: absolute;
    top: 31.4rem;
    left: 52rem;
    cursor: pointer;
}
.music:hover {
    color: #fff;
}
.eye {
    color: #858282;
    font-size: 16px;
    position: absolute;
    top: 31.4rem;
    left: 69rem;
    cursor: pointer;
}
.eye:hover {
    color: #fff;
}
.clock {
    color: #858282;
    font-size: 15px;
    position: absolute;
    top: 31.4rem;
    left: 81.5rem;
    cursor: pointer;
}
.clock:hover {
    color: #fff;
}